@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Displaying the actual server time in the browser</h1>
    <p>
        The Actual Server time is  @ViewData["TimeStamp"]
    </p>
</div>
