@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET CORE WEBSITE</h1>
    <strong><H2>Microsoft Azure</H2></strong>
    <p>
        Hi, My Name is Faran Muhammad. As a par of my learning, I'm learning how to upoad a website on Microsoft Azure
    </p>

    @{ var myMessage = "Hello World"; }

    <p>The massage is: @myMessage</p>
</div>
