@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1>ASP.NET Core web application project</h1>
    <p> Creating a simple asp.net core web application</p>
</div>
